.toggleButton__default {
    width: 8em;
    height: 3em;
    background: none;
    border: 1px solid gray;
    border-radius: 12px;
    font-size: small;
}

.toggleButton__toggled {
    width: 8em;
    height: 3em;
    background: #4A3630;
    color: white;
    box-shadow: 2px 4px 6px #4A3630;
    border: none;
    border-radius: 12px;
    font-size: small;
}