.container {
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #FDAD35;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
}

.topbar {
    position: fixed;
    height: 3em;
    background-color: brown;
}

.text_holder {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    height: 100%;
}